*{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    height: 800px;
    border: 2px solid #ddd;
    margin: 100px auto;
}
.black{
    width: 100px;
    height: 100px;
    background-color: #000;
    float: left;
}
.white{
    width: 100px;
    height: 100px;
    background-color: #fff;
    float: left;
}
body{
    background-image: url("../images/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}